---
import "../style/style.css";
import Metahead from "../components/Metahead.astro";
---

<Metahead title="Community">
  <h1>Community</h1>
</Metahead>

<style>
  h1 {
    color: hotpink;
  }
</style>
