---

---

<button>
    <slot />
  </button>

<style>
button {
    border-style: solid;
    border-color: var(--colour-text);
    padding: 17px 21px 17px 21px;
    background-color: transparent;
    color: var(--colour-text);
  }
button:hover {
    background-color:var(--colour-text);
    color: var(--colour-background);
  }
</style>