---
---

<div class="text-wrapper">
  <h2>
    • JULY 19 - 23 2023 • UNGDOMS0EN • JULY 19 - 23 2023 • UNGDOMS0EN • JULY 19 - 23 2023 • UNGDOMS0EN • JULY 19 - 23 2023 • UNGDOMS0EN • JULY 19 - 23 2023 • UNGDOMS0EN • JULY 19 - 23 2023 • UNGDOMS0EN • JULY 19 - 23 2023 • UNGDOMS0EN • JULY 19 - 23
    2023 • UNGDOMS0EN • JULY 19 - 23 2023 • UNGDOMS0EN
  </h2>
  <h2>
    • JULY 19 - 23 2023 • UNGDOMS0EN • JULY 19 - 23 2023 • UNGDOMS0EN • JULY 19 - 23 2023 • UNGDOMS0EN • JULY 19 - 23 2023 • UNGDOMS0EN • JULY 19 - 23 2023 • UNGDOMS0EN • JULY 19 - 23 2023 • UNGDOMS0EN • JULY 19 - 23 2023 • UNGDOMS0EN • JULY 19 - 23
    2023 • UNGDOMS0EN • JULY 19 - 23 2023 • UNGDOMS0EN
  </h2>
  <h2>
    • JULY 19 - 23 2023 • UNGDOMS0EN • JULY 19 - 23 2023 • UNGDOMS0EN • JULY 19 - 23 2023 • UNGDOMS0EN • JULY 19 - 23 2023 • UNGDOMS0EN • JULY 19 - 23 2023 • UNGDOMS0EN • JULY 19 - 23 2023 • UNGDOMS0EN • JULY 19 - 23 2023 • UNGDOMS0EN • JULY 19 - 23
    2023 • UNGDOMS0EN • JULY 19 - 23 2023 • UNGDOMS0EN
  </h2>
  <h2>
    • JULY 19 - 23 2023 • UNGDOMS0EN • JULY 19 - 23 2023 • UNGDOMS0EN • JULY 19 - 23 2023 • UNGDOMS0EN • JULY 19 - 23 2023 • UNGDOMS0EN • JULY 19 - 23 2023 • UNGDOMS0EN • JULY 19 - 23 2023 • UNGDOMS0EN • JULY 19 - 23 2023 • UNGDOMS0EN • JULY 19 - 23
    2023 • UNGDOMS0EN • JULY 19 - 23 2023 • UNGDOMS0EN
  </h2>
</div>

<style>
  * {
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-main);
  }

  .text-wrapper {
    display: flex;
    justify-content: flex-start;
    background-color: var(--colour-base);
    overflow: hidden;
    z-index: -1;
    position: relative;
  }

  h2 {
    /* font-size: 2rem; */
    font-family: var(--font-head);
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--colour-background);
    white-space: nowrap;
    padding: 0;
    margin: 0.5rem;
    letter-spacing: 1px;
    animation: move_banner 45s linear infinite;
  }

  @keyframes move_banner {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
</style>
