---
---

<div class="text-wrapper">
  <h2>
    • JULY 19 - 23 2023 • UNGDOMSØEN • JULY 19 - 23 2023 • UNGDOMSØEN • JULY 19
    - 23 2023 • UNGDOMSØEN • JULY 19 - 23 2023 • UNGDOMSØEN • JULY 19 - 23 2023
    • UNGDOMSØEN • JULY 19 - 23 2023 • UNGDOMSØEN • JULY 19 - 23 2023 •
    UNGDOMSØEN • JULY 19 - 23 2023 • UNGDOMSØEN • JULY 19 - 23 2023 • UNGDOMSØEN
  </h2>
  <h2>
    • JULY 19 - 23 2023 • UNGDOMSØEN • JULY 19 - 23 2023 • UNGDOMSØEN • JULY 19
    - 23 2023 • UNGDOMSØEN • JULY 19 - 23 2023 • UNGDOMSØEN • JULY 19 - 23 2023
    • UNGDOMSØEN • JULY 19 - 23 2023 • UNGDOMSØEN • JULY 19 - 23 2023 •
    UNGDOMSØEN • JULY 19 - 23 2023 • UNGDOMSØEN • JULY 19 - 23 2023 • UNGDOMSØEN
  </h2>
  <h2>
    • JULY 19 - 23 2023 • UNGDOMSØEN • JULY 19 - 23 2023 • UNGDOMSØEN • JULY 19
    - 23 2023 • UNGDOMSØEN • JULY 19 - 23 2023 • UNGDOMSØEN • JULY 19 - 23 2023
    • UNGDOMSØEN • JULY 19 - 23 2023 • UNGDOMSØEN • JULY 19 - 23 2023 •
    UNGDOMSØEN • JULY 19 - 23 2023 • UNGDOMSØEN • JULY 19 - 23 2023 • UNGDOMSØEN
  </h2>
  <h2>
    • JULY 19 - 23 2023 • UNGDOMSØEN • JULY 19 - 23 2023 • UNGDOMSØEN • JULY 19
    - 23 2023 • UNGDOMSØEN • JULY 19 - 23 2023 • UNGDOMSØEN • JULY 19 - 23 2023
    • UNGDOMSØEN • JULY 19 - 23 2023 • UNGDOMSØEN • JULY 19 - 23 2023 •
    UNGDOMSØEN • JULY 19 - 23 2023 • UNGDOMSØEN • JULY 19 - 23 2023 • UNGDOMSØEN
  </h2>
</div>

<style>
  * {
    margin: 0;
    box-sizing: border-box;
  }

  .text-wrapper {
    display: flex;
    justify-content: flex-start;
    background-color: var(--colour-base);
    overflow: hidden;
  }

  h2 {
    font-family: var(--font-main);
    font-size: 1rem;
    font-weight: 800;
    text-transform: uppercase;
    color: var(--colour-background);
    white-space: nowrap;
    padding: 0.2rem;
    margin: 0.5rem;
    letter-spacing: 1px;
    animation: move_banner 45s linear infinite;
  }

  @keyframes move_banner {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
</style>
