---
import Ticketbutton from "./Ticketbutton.astro";
---

<header>
  <div class="hbg"></div>
  <nav>
    <div class="logo">
      <a href="/"><img src="/svglogo/hvidlogo.svg" alt="logo" /></a>
      <p>KUNE <br />Festival</p>
    </div>
    <div class="navlinks">
      <ul>
        <div class="navbut"><li><a href="/lineup">Lineup</a></li></div>
        <div class="navbut">
          <li><a href="/community">Community</a></li>
        </div>
        <div class="navbut"><li><a href="">Info</a></li></div>
      </ul>
    </div>
    <Ticketbutton />
  </nav>
</header>

<style>
  * {
    box-sizing: border-box;
    margin: 0;
  }
  header {
    position: relative;
    background-color: var(--colour-background);
    z-index: 0;
  }

  .hbg {
    opacity: 0.3;
    background-image: url("/icons/kune_logo_square_black.svg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    object-fit: cover;
    width: 100%;
    inset: 0;
    height: auto;
    z-index: -1;
  }

  nav {
    display: flex;
    height: 6.25rem;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
  }
  .logo {
    margin: 1.25rem;
    display: flex;
    align-items: center;
  }
  a {
    color: var(--colour-text);
    text-decoration: none;
  }
  p {
    color: var(--colour-text);
    margin-left: 0.625rem;
    font-size: 1.25rem;
    font-family: var(--font-head);
    letter-spacing: 1px;
  }
  li {
    list-style: none;
    /* text-transform: uppercase; */
    font-family: var(--font-head);
    letter-spacing: 1px;
  }
  ul {
    display: flex;
  }

  .navbut {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6.25rem;
    width: 7.5rem;
    background-color: transparent;
  }

  .navbut:hover {
    background-color: var(--colour-accent);
  }

  .navbut a:active {
    background-color: var(--colour-accent);
  }

  .com {
    padding-left: 0.625rem;
    padding-right: 0.625rem;
  }
</style>
