---
import Ticketbutton from "./Ticketbutton.astro";
---

<header>
  <nav>
    <div class="logo">
      <a href="/"><img src="/svglogo/hvidlogo.svg" alt="logo" /></a>
      <p>KUNE <br />Festival</p>
    </div>
    <div class="navlinks">
      <ul>
        <div class="navbut"><li><a href="/lineup">Lineup</a></li></div>
        <div class="navbut">
          <li><a href="/community">Community</a></li>
        </div>
        <div class="navbut"><li><a href="">Info</a></li></div>
      </ul>
    </div>
    <Ticketbutton />
  </nav>
</header>

<style>
  * {
    box-sizing: border-box;
    margin: 0;
  }
  header {
    display: block;
    background-color: var(--colour-background);
    background-image: url("/svglogo/watermark.svg");
  }

  nav {
    display: flex;
    height: 100px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
  }
  .watermark {
    position: absolute;
    height: 100px;
  }

  .logo {
    margin: 20px;
    display: flex;
    align-items: center;
  }
  a {
    color: var(--colour-text);
    text-decoration: none;
  }
  p {
    color: var(--colour-text);
    margin-left: 10px;
    font-size: 20px;
    font-family: Dance;
    letter-spacing: 1px;
  }
  li {
    list-style: none;
    /* text-transform: uppercase; */
    font-family: Dance;
    letter-spacing: 1px;
  }
  ul {
    display: flex;
  }

  .navbut {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 120px;
    background-color: transparent;
  }

  .navbut:hover {
    background-color: var(--colour-accent);
  }

  .navbut a:active {
    background-color: var(--colour-accent);
  }

  .com {
    padding-left: 10px;
    padding-right: 10px;
  }
</style>
