---
const { variant } = Astro.props;
---

<!-- Vælg mellem primary eller secondary variant -->
<button class={variant}>
  <slot />
</button>

<style>
  .primary {
    border-style: solid;
    border-color: #fff8ee;
    padding: 17px 21px 17px 21px;
    background-color: transparent;
    color: #fff8ee;
  }
  .primary:hover {
    background-color: #c86b25;
    border-color: #c86b25;
  }
  .secondary {
    border-style: solid;
    border-color: #c86b25;
    padding: 17px 21px 17px 21px;
    background-color: transparent;
    color: #fff8ee;
  }
  .secondary:hover {
    background-color: #c86b25;
  }

  @media (max-width: 600px) {
    .primary {
      padding: 11px 21px 11px 21px;
    }
    .secondary {
      padding: 11px 21px 11px 21px;
    }
  }
</style>
